*{
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    text-align:  center;
    color : red;
    text-transform:capitalize ;
}

#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}

#divi{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    border: 2px dotted teal;
    padding-left: 25px;
    border-radius: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: all;
    transition-duration: 2s;
}
#divi:hover{
    rotate: y 180deg;
}